<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> Welcome to <%= title %>! [Github Badge] </h1>
  <h3>Demo:</h3>
  <img title="github contribution badge"
    src="https://github-stats-badge.vercel.app/github/contrib/dusk196/github-repo-stats?style=for-the-badge&color=7678ed" />
  <img title="github commit badge"
    src="https://github-stats-badge.vercel.app/github/commit/dusk196/github-repo-stats?style=for-the-badge&color=7678ed" />
  <h3>Need documentations?</h3>
  <p>Please head over to:
    <a title="redirect to github documentation" href="https://github.com/dusk196/github-repo-stats" target="_blank">
      github.com/dusk196/github-repo-stats
    </a>
  </p>
</body>

</html>